.Imagea{

  height: 300px;
  width: 300px;
 display: flex;
;
    
    }
    
    img{


        width: 100%;
      }
    
      .row{
    
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
      }
    
      .column{
    
        flex: 25%;
        padding: 5px;
      }
    
      .column img{
    
        margin-top: 5px;
      }
    
      @media (max-width: 600px){
    
        .column{
    flex:100%;
    
    
        }
      }
    